* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */
.Header{
    background-color: hsl(315, 29%, 97%);
    border: 5px solid rgb(228, 41, 181);
    margin: 50px 50px;
    padding: 16px;
    border-radius: 30px
}

.container {
    font-family: system-ui, sans-serif;
    background-color:hsl(271, 57%, 65%);
    color: white;
}

img{
    width: 100px;
}
ul {
    list-style: none;
    display: flex;
    gap: 50px;
}
a {
    text-decoration: none;
    color: azure;
    font-size: 18px;
    text-transform: uppercase;
}

.main {
    background-color: hwb(313 60% 13%);
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aside {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    width: 200px;
    display: none;
}

/* FOOTER */
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}

.destacarParrafo {
    color: #ecd4d4;
    }
p {
    color: black;
    margin: 20px 0;
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500px;
    letter-spacing: 2px;
    line-height: 30px;
    text-shadow: 0 0 6px hwb(0 77% 7%);
}
.tablaPREMIOS{
color: var(color-base,#202122);
font-family: sans-serif;
direction: ltr;
font-size: var(font-size-medium);
line-height: var(line-height-medium);
}
